<div class="container">
  <div class="split left">
    <a class="button" href="http://flutes.dianamcnulty.com/" rel="nofollow">The Flutist</a>
    <!-- <h3 style="color: #db5a04; font-size: 70px;">
      <span>The Flutist</span>
    </h3>

    <div style=" font-size: 40px;  ">
      <span style="position: relative; left: 30px;"><a href="http://flutes.dianamcnulty.com/p/listen.html"
          rel="nofollow" >Listen Online</a></span>
      <br /><br />
      <span style="position: relative; left: 90px;"><a href="http://flutes.dianamcnulty.com/p/bio.html" rel="nofollow">
          About Diana</a></span>
      <br /><br />
      <span style="position: relative; left: 150px;"><a href="http://flutes.dianamcnulty.com/p/sheet-music-test.html"
          rel="nofollow">Sheet Music</a></span>
      <br /><br />
      <span style="position: relative; left: 210px;"><a href="http://flutes.dianamcnulty.com/" rel="nofollow"> Flute
          Blog</a></span>
      <br /><br /> -->
    <!-- </div> -->



  </div>
  <div class="split right">

    <a class="button" href="http://photos.dianamcnulty.com/" rel="nofollow">The Photographer</a>
  </div>
</div>